Ex01/.idea/workspace-MacBook Air di Davide.xml
Ex01/.idea/inspectionProfiles/Project_Default.xml
Ex01/.idea/inspectionProfiles/profiles_settings.xml
Ex01/.idea/modules.xml
Ex01/.idea/misc.xml
Ex01/.idea/Ex01.iml
Ex01/.idea/.gitignore
Ex01/.idea/vcs.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/Exercices.iml
.idea/.gitignore
Ex02/.idea/vcs.xml
Ex02/.idea/inspectionProfiles/Project_Default.xml
Ex02/.idea/inspectionProfiles/profiles_settings.xml
Ex02/.idea/.gitignore
Ex02/.idea/modules.xml
Ex02/.idea/misc.xml
Ex02/.idea/Ex02.iml
